<footer id="footer" class="footer">
    <div class="footer_top">
        <div class="container">
            <p>Просимо залишати коментарі за адресою:</p>
            <a href="mailto:kvmi@karazin.ua">
                <img src="./images/mail_2.svg" alt="mail icon">
                <span>kvmi@karazin.ua</span>
            </a>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="col col_left">
                <p>Харківський національний університет імені В. Н. КаразінаФакультет математики і
                    інформатикиКафедра вищої математики та інформатики
                </p>
                <div class="links_wrap">
                    <a href="tel:707-51-90">
                        <img src="./images/phone.svg" alt="mail icon">
                        <span>707-51-90</span>
                    </a>
                    <p>
                        <img src="./images/library.svg" alt="mail icon">
                        <span>ауд.8-10,11</span>
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="logo_wrap">
                    <a href="#" class="logo">
                        <img src="./images/header/uni_logo.webp" alt="image not found">
                    </a>
                    <a href="#" class="logo">
                        <img src="./images/header/facult_logo.webp" alt="image not found">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>