<header class="header" id="header">
    <div class="header_content-top">
        <div class="container">
            <div class="logo_wrap">
                <img class="logo" src="./images/header/uni_logo.webp" alt="image not found">
                <img class="logo" src="./images/header/facult_logo.webp" alt="image not found">
            </div>
            <span class="header_title">Кафедра вищої математики та інформатики</span>
            <img class="ua_flag" src="./images/ua_flag.svg" alt="Ukraine Flag">
            <div class="header_burger">
                <span></span>
            </div>
        </div>
    </div>
    <div class="header_content-bottom">
        <div class="container">
            <nav class="nav">
                <ul class="nav-menu">
                    <li class="menu-item"> <a href="index.html" class="menu_link">Головна</a></li>
                    <li class="menu-item"> <a href="news.html" class="menu_link">Новини</a>
                    </li>
                    <div class="dropdown">
                        <button class="dropdown-button menu_link">
                            <span>Освітній процес</span>
                            <img src="./images/arrow.svg" alt="arrow">
                        </button>
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <a href="bachelors_program.html" class="menu_link">Бакалаврська
                                    програма</a>
                            </div>
                            <div class="dropdown-item">
                                <a href="masters_program.html" class="menu_link">Магістерська
                                    програма</a>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-button menu_link">
                            <span>Кафедра</span>
                            <img src="./images/arrow.svg" alt="arrow">
                        </button>
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <a href="#" class="menu_link">Навантаження кафедри</a>
                            </div>
                            <div class="dropdown-item">
                                <a href="history.html" class="menu_link">Історія кафедри</a>
                            </div>
                        </div>
                    </div>
                    <li class="menu-item">
                        <a href="applicants.html" class="menu_link">Вступникам</a>
                    </li>
                    <li class="menu-item"> <a href="professors.html" class="menu_link">Викладачі</a>
                    </li>
                    <li class="menu-item"> <a href="science.html" class="menu_link">Наука</a></li>

                </ul>
            </nav>
            <div class="logo_wrap">
                <a href="#" class="logo">
                    <img src="./images/header/uni_logo.webp" alt="image not found">
                </a>
                <a href="#" class="logo">
                    <img src="./images/header/facult_logo.webp" alt="image not found">
                </a>
            </div>
        </div>
    </div>
</header>