<header class="header" id="header">
    <div class="header_content-top">
        <div class="container">
            <div class="logo_wrap">
                <a href="#" class="logo">
                    <img src="./images/header/uni_logo.webp" alt="image not found">
                </a>
                <a href="#" class="logo">
                    <img src="./images/header/facult_logo.webp" alt="image not found">
                </a>
            </div>
            <span class="header_title">Кафедра вищої математики та інформатики</span>
            <img class="ua_flag" src="./images/ua_flag.svg" alt="Ukraine Flag">
        </div>
    </div>
    <div class="header_content-bottom">
        <div class="container">
            <nav class="nav">
                <ul class="nav-menu">
                    <!-- <li class="menu-item"> <a href="#" class="menu_link">Головна</a></li>
                    <li class="menu-item"> <a href="#" class="menu_link">Новини</a></li>
                    <li class="menu-item"> <a href="#" class="menu_link">Співробітники</a></li>
                    <li class="menu-item"> <a href="#" class="menu_link">Студентам</a></li> -->
                    <li class="menu-item"> <a href="news.html"
                            class="menu_link">Новини</a>
                    </li>
                    <li class="menu-item"> <a href="masters_program.html"
                            class="menu_link">Магістерська програма</a>
                    </li>
                    <li class="menu-item"> 
                        <a href="bachelors_program.html"
                            class="menu_link">Бакалаврська програма</a>
                    </li>
                    <li class="menu-item"> <a href="professors.html"
                            class="menu_link">Викладачі</a>
                    </li>
                    <!-- <li class="menu-item"> <a href="#" class="menu_link">Освітнійпроцес</a></li>
                    <li class="menu-item"> <a href="#" class="menu_link">Наука</a></li>
                    <li class="menu-item"> <a href="#" class="menu_link">Вступникам</a></li>
                    <li class="menu-item"> <a href="#" class="menu_link">Ісорія кафедри</a></li> -->
                </ul>
            </nav>
        </div>
    </div>
</header>